.home-page {
    min-height: calc(100vh - 64px);

    padding-bottom: 50px;

    background: #f3f4f6;
}

.home-header {
    max-width: 800px;

    margin: 0 auto;

    text-align: center;

    padding: 55px 20px 30px;
}

.home-header h1 {
    margin-bottom: 12px;

    font-size: 38px;

    line-height: 1.2;

    color: #111827;
}

.home-header p {
    color: #666;

    font-size: 17px;

    line-height: 1.6;
}

.posts-container {
    max-width: 1100px;

    margin: 20px auto 0;

    padding: 0 20px;

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 25px;
}


/* TABLET */

@media (max-width: 900px) {

    .posts-container {
        grid-template-columns: repeat(2, 1fr);

        gap: 20px;
    }

}


/* MOBIhLE */

@media (max-width: 600px) {

    .home-header {
        padding: 40px 20px 25px;
    }

    .home-header h1 {
        font-size: 30px;
    }

    .home-header p {
        font-size: 15px;
    }

    .posts-container {
        grid-template-columns: 1fr;

        gap: 20px;

        padding: 0 15px;
    }

}